div {
    position: relative;
}
img {
    margin: 0 auto;
}
input {
    width: 180px;
}
h1 {
    font-size: 4em;
}
.add {
    margin-bottom: 20px;
}
.center {
    text-align: center;
}
.cta {
    margin-top: 20px;
}
.pure-g [class *="pure-u"] {
    font-family: 'PT Sans', 'PT+Sans', sans-serif !important
}
.pure-u-1 {
    margin-top: 20px;
}
.pure-button {
    background-color: #b2e672;
}
.logo {
    width: 500px;
}
.display-book, .display-settings {
    height: 200px;
    width: 900px;
    padding: 0;
    position: relative;
    margin: 10px auto;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.display-settings {
    height: 280px;
}
.progress-bar {
    width: 100%;
    height: 3px;
    margin: 0 0 50px;
    background-color: #faa;
}
.progress-bar-bar {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: #b2e672;
}
