{% extends "header.html" %}
{% block body %}
<div class="pure-g">

    <div class="pure-u-1 center">
        <h2>My Books</h2>
        <form class="pure-form add" action="{{url_for('add_book')}}" method=post>
            <div class="pure-u-1">
                <label for=title>Title </label>
                <input type=text name=title id=title placeholder="The Catcher in the Rye" />&nbsp;&nbsp;&nbsp;
                <label for=author>Author </label>
                <input type=text name=author id=author placeholder="J.D. Salinger" />&nbsp;&nbsp;&nbsp;
                <label for=author>Pages </label>
                <input type=number name=pages id=author placeholder="214" />&nbsp;&nbsp;
                <button type=submit class="pure-button">Add Book</button>
            </div>
        </form>
    </div>

    <div class="pure-u-1 center">
        {% for title, data in session.books.iteritems() %}
        <div class="display-book" title="Read {{data.read}}/{{data.pages}} pages">
            <div class="progress-bar">
                <div class="progress-bar-bar" style="width:{{data.progress}}%"></div>
            </div>
            <div class="book-details">
                <h4>{{title}} by {{data.author}}</h4>
                <form class="pure-form" action="{{url_for('update_progress')}}" method=post>
                    <fieldset>
                        <input type=hidden name=title value="{{title}}" />
                        I read up to page <input type=number name=read /> today!
                        <button type=submit class="pure-button">Update Progress</a>
                    </fieldset>
                </form>
            </div>
        </div>
        {% endfor %}
    </div>

    {% if session.books|length > 3 %}

    <div class="pure-u-1 center">
        <form class="pure-form add" action="{{url_for('add_book')}}" method=post>
            <div class="pure-u-1">
                <label for=title>Title </label>
                <input type=text name=title id=title placeholder="The Catcher in the Rye" />&nbsp;&nbsp;&nbsp;
                <label for=author>Author </label>
                <input type=text name=author id=author placeholder="J.D. Salinger" />&nbsp;&nbsp;&nbsp;
                <label for=author>Pages </label>
                <input type=number name=pages id=author placeholder="214" />&nbsp;&nbsp;
                <button type=submit class="pure-button">Add Book</button>
            </div>
        </form>
    </div>

    {% endif %}

    <div class="display-settings">
        <div class="pure-u-1 center"><h2>Settings</h2></div>

        <div class="pure-u-1 center">
            <form class="pure-form" action="{{url_for('friends')}}" method=post>
                <label for=friends>Friends' Phone Numbers, comma-separated </label>
                <input type=text name=friends />
                <button type=submit value=submit class="pure-button">Update Friends</button>
            </form>
        </div>

        <div class="pure-u-1 center">
            <form class="pure-form" action="{{url_for('personal_info')}}" method=post>
                Name: <input name=name />&nbsp;&nbsp;
                Number: <input name=number />
                <button type=submit value=submit class="pure-button">Update Personal Info</button>
            </form>
        </div>

    </div>
</div>
{% endblock %}
